Repository internxt/drive-server-wip, pull requests merged in 2023-09, with the labels that each got.

#207 [PB-685]: fix/trash-not-being-emptied-properly
  src/modules/folder/folder.usecase.ts
  src/modules/trash/trash.usecase.ts
Labels: bug

#209 [_] feat/ added files to sharing/folders endpoint
  src/modules/sharing/dto/get-items-and-shared-folders.dto.ts
  src/modules/sharing/models/index.ts
  src/modules/sharing/sharing.repository.ts
  src/modules/sharing/sharing.service.ts
Labels: enhancement, mod: advanced-sharing

#210 [_]: refactor/remove-private-folder-module
  src/app.module.ts
  src/modules/folder/folder.model.ts
  src/modules/private-share-folder/dto/create-private-sharing.dto.ts
  src/modules/private-share-folder/dto/get-items-and-shared-folders.dto.ts
  src/modules/private-share-folder/dto/grant-privileges.dto.ts
  src/modules/private-share-folder/dto/update-private-sharing-folder-role.dto.ts
  src/modules/private-share-folder/private-sharing-folder-roles.domain.ts
  src/modules/private-share-folder/private-sharing-folder-roles.model.ts
  src/modules/private-share-folder/private-sharing-folder-roles.repository.ts
  src/modules/private-share-folder/private-sharing-folder.domain.ts
  src/modules/private-share-folder/private-sharing-folder.model.ts
  src/modules/private-share-folder/private-sharing-permissions.domain.ts
  src/modules/private-share-folder/private-sharing-permissions.model.ts
  src/modules/private-share-folder/private-sharing-role.domain.ts
  src/modules/private-share-folder/private-sharing-role.model.ts
  src/modules/private-share-folder/private-sharing.controller.ts
  src/modules/private-share-folder/private-sharing.module.ts
  src/modules/private-share-folder/private-sharing.repository.ts
  src/modules/private-share-folder/private-sharing.usecase.spec.ts
  src/modules/private-share-folder/private-sharing.usecase.ts
Labels: enhancement, mod: advanced-sharing

#213 [_]: feat:/return sharing type sharings/folders
  src/modules/sharing/dto/get-items-and-shared-folders.dto.ts
  src/modules/sharing/sharing.repository.ts
  src/modules/sharing/sharing.service.ts
Labels: enhancement
