Repository internxt/drive-server-wip, pull requests merged in 2024-11, with the labels that each got.

#420 [_]: fix/add validation when updating user space
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: bug, ready-for-preview, workspaces

#417 [PB-1783]: feat/add-type-to-update-file
  .github/workflows/run-tests-e2e.yml
  src/lib/validators.ts
  src/modules/file/dto/update-file-meta.dto.spec.ts
  src/modules/file/dto/update-file-meta.dto.ts
  src/modules/file/file.controller.spec.ts
  src/modules/file/file.controller.ts
  src/modules/file/file.domain.ts
  src/modules/file/file.usecase.spec.ts
  src/modules/file/file.usecase.ts
  src/modules/user/user.usecase.spec.ts
Labels: enhancement, ready-for-preview

#424 [_]: fix/encrypting-name-when-plainName-is-not-present
  src/modules/file/file.usecase.spec.ts
  src/modules/file/file.usecase.ts
Labels: bug, ready-for-preview

#425 [PB-3262]: fix/correctly calculate available space in workspace when accepting an invite
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: bug, ready-for-preview, workspaces

#426 [_]: fix/delete user from teams whenever they are removed from/exit workspace
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: bug, ready-for-preview, workspaces

#432 chore: upgraded nest platform express due to body-parser vulnerability
  package.json
  yarn.lock
Labels: ready-for-preview, security
