Repository internxt/drive-server-wip, pull requests merged in 2024-08, with the labels that each got.

#381 [_] fix: fixed get workspace teams endpoint permissions and response
  src/modules/workspaces/workspaces.controller.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#383 [_] fix: removed build docker compose from unit tests action
  .github/workflows/run-tests.yml
Labels: bug, ready-for-preview

#382 [PB-2446]: feat/remove workspace member from workspace
  src/modules/workspaces/repositories/workspaces.repository.spec.ts
  src/modules/workspaces/repositories/workspaces.repository.ts
  src/modules/workspaces/workspaces.controller.spec.ts
  src/modules/workspaces/workspaces.controller.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: enhancement, ready-for-preview, workspaces

#378 [PB-2387]: fix/upgrade or downgrade b2b plans
  src/modules/gateway/dto/update-workspace-storage.dto.ts
  src/modules/gateway/gateway.controller.spec.ts
  src/modules/gateway/gateway.controller.ts
  src/modules/gateway/gateway.usecase.spec.ts
  src/modules/gateway/gateway.usecase.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: enhancement, ready-for-preview, workspaces

#386 fix: manager and owners are able to change the manager of a team
  src/modules/workspaces/workspaces.controller.ts
Labels: bug, ready-for-preview, workspaces

#385 [PB-2445]: fix/make-correct-ownership-transfer-when-leaving-the-workspace
  src/modules/workspaces/repositories/team.repository.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: bug, ready-for-preview, workspaces

#380 [PB-2430] fix: allow sharing password deactivation, workspace sharing permissions fixed
  src/common/extract-data-from-request.spec.ts
  src/common/extract-data-from-request.ts
  src/modules/file/file.controller.ts
  src/modules/folder/folder.controller.ts
  src/modules/sharing/guards/sharing-permissions.guard.spec.ts
  src/modules/sharing/guards/sharing-permissions.guard.ts
  src/modules/sharing/guards/sharings-token.interface.ts
  src/modules/sharing/sharing.controller.ts
  src/modules/sharing/sharing.repository.ts
  src/modules/sharing/sharing.service.ts
  src/modules/trash/trash.controller.ts
  src/modules/workspaces/guards/workspaces-resources-in-behalf.decorator.ts
  src/modules/workspaces/guards/workspaces-resources-in-items-in-behalf.guard.spec.ts
  src/modules/workspaces/guards/workspaces-resources-in-items-in-behalf.guard.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#388 [PB-2504: fix/file transfer space validation
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces
