Repository internxt/drive-server-wip, pull requests merged in 2024-07, with the labels that each got.

#341 [PB-2284]: Feat/register notification token endpoint
  migrations/20240624200747-create-user-tokens-table.js
  src/modules/share/share.module.ts
  src/modules/user/dto/register-notification-token.dto.ts
  src/modules/user/user-notification-tokens.attribute.ts
  src/modules/user/user-notification-tokens.domain.ts
  src/modules/user/user-notification-tokens.model.ts
  src/modules/user/user.controller.spec.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.model.ts
  src/modules/user/user.module.ts
  src/modules/user/user.repository.ts
  src/modules/user/user.usecase.spec.ts
  src/modules/user/user.usecase.ts
  test/fixtures.ts
Labels: enhancement, preview, ready-for-preview

#342 Feat/enable delete files with UUID
  src/modules/file/file.repository.ts
  src/modules/file/file.usecase.ts
  src/modules/trash/dto/controllers/delete-item.dto.ts
  src/modules/trash/dto/controllers/delete-items.dto.spec.ts
  src/modules/trash/trash.controller.spec.ts
  src/modules/trash/trash.controller.ts
  src/modules/workspaces/guards/workspaces-resources-in-behalf.decorator.ts
  src/modules/workspaces/guards/workspaces-resources-in-items-in-behalf.guard.ts
Labels: ready-for-preview, workspaces

#344 [_]: feat/accept-bucket-field-as-filter-when-listing-files
  migrations/20240704100411-create-index-bucket-files.js
  src/modules/file/file.controller.ts
  src/modules/file/file.usecase.ts
Labels: enhancement, ready-for-preview

#347 fix: small fixes for deactivte endpoint and permissions on get members
  src/modules/workspaces/workspaces.controller.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#348 fix: remove search workspace by ownerId on get members
  src/modules/workspaces/workspaces.usecase.ts
Labels: bug

#345 fix: remove items from trash
  src/modules/trash/trash.controller.ts
Labels: bug, ready-for-preview, workspaces

#346 [PB-2294, PB-2291] feat: enabled share with public users and get folder tree
  src/modules/file/file.repository.ts
  src/modules/file/file.usecase.ts
  src/modules/folder/folder.controller.spec.ts
  src/modules/folder/folder.controller.ts
  src/modules/folder/folder.repository.ts
  src/modules/folder/folder.usecase.spec.ts
  src/modules/folder/folder.usecase.ts
  src/modules/sharing/sharing.controller.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#350 feat: send messages when invitation is sent
  src/externals/mailer/mailer.service.ts
  src/modules/workspaces/dto/create-workspace-invite.dto.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#351 [_] fix: added tests and fixed get workspace usage
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#353 [_] chore: workspaces-database-migrations
  migrations/20240709150203-create-workspace-table.js
  migrations/20240709150243-create-workspace-teams-table.js
  migrations/20240709150318-create-workspace-default-team-fk.js
  migrations/20240709150335-create-workspace-users-table.js
  migrations/20240709150349-create-workspace-items-user-table.js
  migrations/20240709150415-create-workspace-team-user-table.js
  migrations/20240709150441-create-workspace-invites-table.js
  migrations/20240709150517-add-avatar-field-into-workspaces-table.js
  migrations/20240709150539-add-root-folder-id-to-workspace-table.js
  migrations/20240709150557-add-root-folder-id-to-workspace-user-table.js
  migrations/20240709150751-remove-sharing-shared-with-constraint.js
  migrations/20240709150816-add-shared-with-type-to-sharings.js
  migrations/20240709150840-add-last-size-sync-column.js
Labels: ready-for-preview, workspaces

#355 [_] chore: workspaces new domains, repositories and models
  src/modules/folder/folder.domain.spec.ts
  src/modules/folder/folder.domain.ts
  src/modules/sharing/sharing.domain.ts
  src/modules/workspaces/attributes/workspace-invite.attribute.ts
  src/modules/workspaces/attributes/workspace-items-users.attributes.ts
  src/modules/workspaces/attributes/workspace-team-users.attributes.ts
  src/modules/workspaces/attributes/workspace-team.attributes.ts
  src/modules/workspaces/attributes/workspace-users.attributes.ts
  src/modules/workspaces/attributes/workspace.attributes.ts
  src/modules/workspaces/domains/workspace-invite.domain.ts
  src/modules/workspaces/domains/workspace-item-user.domain.ts
  src/modules/workspaces/domains/workspace-team-user.domain.ts
  src/modules/workspaces/domains/workspace-team.domain.ts
  src/modules/workspaces/domains/workspace-user.domain.spec.ts
  src/modules/workspaces/domains/workspace-user.domain.ts
  src/modules/workspaces/domains/workspaces.domain.ts
  src/modules/workspaces/models/workspace-invite.model.ts
  src/modules/workspaces/models/workspace-items-users.model.ts
  src/modules/workspaces/models/workspace-team-users.model.ts
  src/modules/workspaces/models/workspace-team.model.ts
  src/modules/workspaces/models/workspace-users.model.ts
  src/modules/workspaces/models/workspace.model.ts
  src/modules/workspaces/repositories/team.repository.spec.ts
  src/modules/workspaces/repositories/team.repository.ts
  src/modules/workspaces/repositories/workspaces.repository.spec.ts
  src/modules/workspaces/repositories/workspaces.repository.ts
  test/fixtures.spec.ts
  test/fixtures.ts
Labels: ready-for-preview, workspaces

#357 [_] chore: added mailer service, files/folders/gateway/workspaces dtos
  src/common/http-exception-filter-extended.exception.spec.ts
  src/common/http-exception-filter-extended.exception.ts
  src/externals/bridge/bridge.service.ts
  src/externals/mailer/mailer.service.ts
  src/main.ts
  src/modules/auth/auth.guard.ts
  src/modules/auth/decorators/disable-global-auth.decorator.ts
  src/modules/auth/gateway-rs256jwt.strategy.ts
  src/modules/auth/gateway.guard.ts
  src/modules/file/dto/create-file.dto.ts
  src/modules/file/dto/update-file-meta.dto.ts
  src/modules/folder/dto/create-folder.dto.ts
  src/modules/folder/dto/update-folder-meta.dto.ts
  src/modules/gateway/dto/delete-workspace.dto.ts
  src/modules/gateway/dto/initialize-workspace.dto.ts
  src/modules/gateway/dto/update-workspace-storage.dto.ts
  src/modules/workspaces/dto/accept-workspace-invite.dto.ts
  src/modules/workspaces/dto/change-user-assigned-space.dto.ts
  src/modules/workspaces/dto/create-team.dto.ts
  src/modules/workspaces/dto/create-workspace-file.dto.ts
  src/modules/workspaces/dto/create-workspace-folder.dto.ts
  src/modules/workspaces/dto/create-workspace-invite.dto.ts
  src/modules/workspaces/dto/edit-team-data.dto.ts
  src/modules/workspaces/dto/edit-workspace-details-dto.ts
  src/modules/workspaces/dto/get-items-inside-shared-folder.dto.ts
  src/modules/workspaces/dto/pagination.dto.ts
  src/modules/workspaces/dto/setup-workspace.dto.ts
  src/modules/workspaces/dto/share-item-with-team.dto.ts
  src/modules/workspaces/dto/workspace-invitations-pagination.dto.ts
  src/modules/workspaces/pipes/validate-uuid.pipe.spec.ts
  src/modules/workspaces/pipes/validate-uuid.pipe.ts
Labels: ready-for-preview, workspaces

#360 [_] Chore: add log for workspace creation
  src/modules/gateway/gateway.usecase.ts
Labels: preview, ready-for-preview

#361 [_] fix: fixed error when fetching the sharing type
  src/modules/file/file.controller.ts
  src/modules/sharing/sharing.repository.ts
  src/modules/sharing/sharing.service.ts
Labels: bug, ready-for-preview

#359 [PB-2309] feat: created endpoint for folder and files existence
  src/modules/file/file.repository.spec.ts
  src/modules/file/file.repository.ts
  src/modules/file/file.usecase.ts
  src/modules/folder/dto/files-existence-in-folder.dto.spec.ts
  src/modules/folder/dto/files-existence-in-folder.dto.ts
  src/modules/folder/dto/folder-existence-in-folder.dto.spec.ts
  src/modules/folder/dto/folder-existence-in-folder.dto.ts
  src/modules/folder/folder.controller.spec.ts
  src/modules/folder/folder.controller.ts
  src/modules/folder/folder.repository.spec.ts
  src/modules/folder/folder.repository.ts
  src/modules/folder/folder.usecase.spec.ts
  src/modules/folder/folder.usecase.ts
Labels: ready-for-preview, workspaces

#363 [_] fix: change type in repository and modify route name
  src/modules/file/file.repository.spec.ts
  src/modules/file/file.repository.ts
  src/modules/workspaces/workspaces.controller.ts
Labels: ready-for-preview, workspaces

#362 [PB-2354] feat: fixed space storage per user in workspaces
  migrations/20240716131219-add-number-of-seats-to-workspaces-table.js
  src/modules/gateway/dto/initialize-workspace.dto.ts
  src/modules/gateway/gateway.controller.spec.ts
  src/modules/gateway/gateway.usecase.spec.ts
  src/modules/gateway/gateway.usecase.ts
  src/modules/workspaces/attributes/workspace.attributes.ts
  src/modules/workspaces/domains/workspaces.domain.ts
  src/modules/workspaces/dto/create-workspace-invite.dto.ts
  src/modules/workspaces/models/workspace.model.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
  test/fixtures.ts
Labels: ready-for-preview, workspaces

#364 [_] fix: endpoint folder/:uuid/content now returns all the content
  src/modules/file/file.repository.ts
  src/modules/file/file.usecase.spec.ts
  src/modules/file/file.usecase.ts
  src/modules/folder/folder.controller.ts
  src/modules/folder/folder.repository.ts
  src/modules/folder/folder.usecase.spec.ts
  src/modules/folder/folder.usecase.ts
Labels: ready-for-preview, workspaces

#365 Revert "[_] fix: endpoint folder/:uuid/content now returns all the content"
  src/modules/file/file.repository.ts
  src/modules/file/file.usecase.spec.ts
  src/modules/file/file.usecase.ts
  src/modules/folder/folder.controller.ts
  src/modules/folder/folder.repository.ts
  src/modules/folder/folder.usecase.spec.ts
  src/modules/folder/folder.usecase.ts
Labels: ready-for-preview

#367 [PB-2353]: feat/add endpoint to edit workspace billing address
  src/modules/workspaces/domains/workspaces.domain.ts
  src/modules/workspaces/dto/edit-workspace-details-dto.ts
  src/modules/workspaces/workspaces.controller.spec.ts
  src/modules/workspaces/workspaces.controller.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#369 [_] feat: added activate workspace user
  src/modules/workspaces/workspaces.controller.spec.ts
  src/modules/workspaces/workspaces.controller.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#368 [PB-2366] fix: workspace_items_users and sharings queries speed improved
  migrations/20240719013824-add-item-index-sharings-table.js
  migrations/20240719013827-add-item-id-workspace-item-users-table.js
  src/modules/sharing/sharing.repository.ts
Labels: ready-for-preview, workspaces

#371 [_] fix: guard now checks if user is deactivated
  src/modules/workspaces/guards/workspaces.guard.spec.ts
  src/modules/workspaces/guards/workspaces.guard.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#372 fix/billing phone number
  migrations/20240722152617-add-phoneNumber-to-workspaces.js
  src/externals/payments/payments.service.ts
  src/modules/gateway/dto/initialize-workspace.dto.ts
  src/modules/gateway/gateway.usecase.spec.ts
  src/modules/gateway/gateway.usecase.ts
  src/modules/workspaces/attributes/workspace.attributes.ts
  src/modules/workspaces/domains/workspaces.domain.ts
  src/modules/workspaces/dto/edit-workspace-details-dto.ts
  src/modules/workspaces/models/workspace.model.ts
  src/modules/workspaces/workspaces.module.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#373 [_] fix: only show sharings in the current workspace
  src/modules/sharing/sharing.repository.spec.ts
  src/modules/sharing/sharing.repository.ts
  src/modules/sharing/sharing.service.spec.ts
  src/modules/sharing/sharing.service.ts
  src/modules/workspaces/workspaces.controller.spec.ts
  src/modules/workspaces/workspaces.controller.ts
Labels: ready-for-preview, workspaces

#374 [PB-2381] fix: workspace usage is now calculated on the fly
  src/modules/file/file.repository.spec.ts
  src/modules/file/file.repository.ts
  src/modules/file/file.usecase.spec.ts
  src/modules/file/file.usecase.ts
  src/modules/workspaces/workspaces.usecase.spec.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview, workspaces

#375 [_] fix: sharing field is returned while navigating folders
  src/modules/folder/folder.repository.ts
Labels: ready-for-preview, workspaces

#376 [_] fix: file names on backend
  src/modules/file/file.usecase.ts
  src/modules/workspaces/workspaces.module.ts
  src/modules/workspaces/workspaces.usecase.ts
Labels: ready-for-preview

#377 [_] fix: added sharing guard to workspace decorator to enable permissions
  src/modules/file/file.controller.ts
  src/modules/file/file.module.ts
  src/modules/folder/folder.controller.ts
  src/modules/sharing/decorators/behalfUser.decorator.ts
  src/modules/sharing/guards/sharing-permissions.guard.ts
  src/modules/trash/trash.module.ts
  src/modules/workspaces/guards/workspaces-resources-in-behalf.decorator.ts
  src/modules/workspaces/guards/workspaces-resources-in-items-in-behalf.guard.ts
  src/modules/workspaces/workspaces.controller.spec.ts
  src/modules/workspaces/workspaces.controller.ts
Labels: ready-for-preview, workspaces

#379 fix: allow remove sharings in workspaces
  src/modules/sharing/sharing.controller.ts
  src/modules/sharing/sharing.service.spec.ts
  src/modules/sharing/sharing.service.ts
Labels: ready-for-preview, workspaces
